node_modules
third-party
npm-debug.log
.DS_Store
includes/.DS_Store
.idea
/includes/.DS_Store
package-lock.json
config.json
phpDocumentor.phar

/assets/js/**.hot-update.js
/assets/js/**.hot-update.json

# Composer
/vendor/
/scoped/
phpcs-report.txt
/phpcs.xml
.phpunit.result.cache

# distribution files
build
docs
.phpdoc
