node_modules
build
npm-debug.log
.DS_Store
includes/.DS_Store
.idea
/includes/.DS_Store
package-lock.json
config.json

/assets/js/**.hot-update.js
/assets/js/**.hot-update.json

# Composer
/vendor/
/scoped/
phpcs-report.txt
/phpcs.xml
.phpunit.result.cache

# distribution files
/dist/
